@import url(http://fonts.googleapis.com/css?family=Dosis:400,700|Oswald:700,300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700,700italic,400,400italic);
/* STOP */ 
@font-face {
    font-family: antonio-regular;
    src: url(../fonts/Antonio-Regular.ttf);
}
@font-face {
    font-family: antonio-light;
    src: url(../fonts/Antonio-Light.ttf);
}
@font-face {
    font-family: antonio-bold;
    src: url(../fonts/Antonio-Bold.ttf);
}
@font-face {
    font-family: libre-regular;
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: libre-italic;
    src: url(../fonts/LibreBaskerville-Italic.ttf);
}
@font-face {
    font-family: libre-bold;
    src: url(../fonts/LibreBaskerville-Bold.ttf);
}
*{
	font-family: 'libre-italic', sans-serif;
	font-weight: normal;
	color: #000;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'antonio-regular', sans-serif;
	font-weight: bold;
	color: #b24d44;
	margin: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    padding-top: 0px;
	background-image: url(../images/bg.png);
	background-color: transparent !important;
}
article, a{
	color: #2d1e18;
	font-size: 16px;
}
body,
html {
	height: 100%;
}
.bx-wrapper .bx-viewport{
background-color: transparent !important;	
}
.col-md-7-5 {
    width: 60%;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}
a:hover, a:active, a:focus {
	text-decoration: none;
	outline: none!important;
	color: none;
}
textarea:hover, 
textarea:active, 
textarea:focus, 
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
.page-template-template-foto .col-xs-5, .page-template-template-foto .col-xs-4{
	padding-left: 0;
}
.page-template-template-comprar .entry-excerpt p{
	margin-left: 3px;
}
 
/* do not group these rules */
*::-webkit-input-placeholder {
    color: #fff !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #fff !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #fff !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff !important;
}



/* START ESPAÇAMENTOS */
.space_top_40{
	margin-top: 40px;
}
.space_top_50{
	margin-top: 50px;
}
.space_top_80{
	margin-top: 80px;
}
.space_top_100{
	margin-top: 100px;
}
.space_top_150{
	margin-top: 150px;
}
.space_top_200{
	margin-top: 200px;
}
.space_bot_40{
	margin-bottom: 40px;
}
.space_bot_50{
	margin-bottom: 50px;
}
.space_bot_80{
	margin-bottom: 80px;
}
.space_bot_100{
	margin-bottom: 100px;
}
.space_bot_150{
	margin-bottom: 150px;
}
.space_bot_5p{
	margin-bottom: 5%;
}
.space_bot_200{
	margin-bottom: 200px;
}
/* END ESPAÇAMENTOS */
/* START FANCYBOX */

.fancybox-texture .fancybox-skin {
    background: #f7eed7;
    color: #b24d44;
}
/* END FANCYBOX */

/* START MENU */
#qts-lang-menu{ display:none; }
.navbar .container{
	padding: 0;
	position: relative;
	height: 60px;
}
.navbar-inverse {
    background-color: rgba(234,226,214,0.6);
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 5px solid #c59c35;
    height: 60px;
    background-image: url(../images/menu-bg.png);
}

.navbar-header { float: none !important; }
.navbar-brand {
    width: 107px;
    height: 76px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px !important;
    margin-top: -38px !important;
    padding: 0 !important;
}
.navbar-inverse .navbar-brand{
	color: #444040;
}
.navbar-brand>img {
    display: block;
    width: 100%;
    margin-top: 15px;
}

	/* START WRAPPERS */
	#wrapper {
	    padding-left: 0;
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}


	#sidebar-wrapper {
	    z-index: 1000;
	    display: block;
	    left: 25%;
	    width: 0;
	    height: 100%;
	    margin-left: -25%;
	    overflow-y: auto;
	    overflow-x: hidden;
	    background: rgba(234,226,214,0.8);
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}

	#sidebar-wrapper::-webkit-scrollbar {
	  display: none;
	}

	#wrapper.toggled #sidebar-wrapper {
	    width: 25%;
	}
.bg-content {
    background-image: url(../images/bg-destaque.png);
    border-top: 5px solid #d0a93c;
    border-bottom: 5px solid #d0a93c;
}
.content-manifest{
	padding-top: 0px !important;
}
.h1_manifesto {
    margin-left: 15px;
    margin-bottom: -20px;
    text-transform: uppercase;

}
.ornamento {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    float: left;
    margin-bottom: 2.5%;
}
.img-produto {
width: 25%;
float: left;
margin-right: 5%;
}
.img-produto img {
    width: 100%;
}
.conteudo-produto h4 {
    font-size: 200%;
}
	#page-content-wrapper {
	    width: 100%;
	    padding-top: 70px;
	}

	#wrapper.toggled #page-content-wrapper {
	    position: absolute;
	    margin-right: -25%;
	}
	/* END WRAPPERS */
	/* START SIDEBAR NAV STYLES */
	.sidebar-nav {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    padding-top: 60px;
	    list-style: none;
	}

	.sidebar-nav li {
	    position: relative; 
	    line-height: 20px;
	    display: inline-block;
	    width: 100%;
	}

	.sidebar-nav li a {
	    display: block;
	    color: #b24d44;
	    text-decoration: none;
	    padding: 9px 10px 9px 30%; 
        font-family: 'Oswald';
	}

	.sidebar-nav li.sidebar-brand {
	    display: block;
	    color: #b24d44;
	    text-decoration: none;
	    padding: 15px 10px 40px 15%;
	    font-family: 'Oswald';
	    font-weight: bold;
	    font-size: 31px;
	}

	.sidebar-nav li a:hover,
	.sidebar-nav li a:active,
	.sidebar-nav li a:focus,
	.sidebar-nav li.open a:hover,
	.sidebar-nav li.open a:active,
	.sidebar-nav li.open a:focus{
	    color: #b24d44;
	    text-decoration: none;
	    background-color: transparent;
	    font-weight: bolder;
	}

	.sidebar-nav > .sidebar-brand {
	    height: 65px;
	    font-size: 20px;
	    line-height: 44px;
	}
	.sidebar-nav .dropdown-menu {
	    position: relative;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    border-radius: 0;
	    border: none;
	    background-color: #222;
	    box-shadow: none;
	}
	/* END SIDEBAR NAV STYLES */

.over-open {
	display: block !important;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
}
	/* START HAMBURGER-CROSS */
	.hamburger {
	  position: absolute;
	  top: 15px;  
	  z-index: 999;
	  display: block;
	  width: 32px;
	  height: 32px;
	  background: transparent;
	  border: none;
	}
	.hamburger:hover,
	.hamburger:focus,
	.hamburger:active {
	  outline: none;
	}
	.hamburger.is-closed:before {
	  content: '';
	  display: block;
	  width: 100px;
	  font-size: 14px;
	  color: #fff;
	  line-height: 32px;
	  text-align: center;
	  opacity: 0;
	  -webkit-transform: translate3d(0,0,0);
	  -webkit-transition: all .35s ease-in-out;
	}
	.hamburger.is-closed:hover:before {
	  opacity: 1;
	  display: block;
	  -webkit-transform: translate3d(-100px,0,0);
	  -webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed .hamb-top,
	.hamburger.is-closed .hamb-middle,
	.hamburger.is-closed .hamb-bottom,
	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-middle,
	.hamburger.is-open .hamb-bottom {
	  position: absolute;
	  left: 0;
	  height: 4px;
	  width: 100%;
	}
	.hamburger.is-closed .hamb-top,
	.hamburger.is-closed .hamb-middle,
	.hamburger.is-closed .hamb-bottom {
	  background-color: #b24d44;
	}
	.hamburger.is-closed .hamb-top { 
	  top: 5px; 
	  -webkit-transition: all .35s ease-in-out;
	}
	.hamburger.is-closed .hamb-middle {
	  top: 50%;
	  margin-top: -2px;
	}
	.hamburger.is-closed .hamb-bottom {
	  bottom: 5px;  
	  -webkit-transition: all .35s ease-in-out;
	}

	.hamburger.is-closed:hover .hamb-top {
	  top: 0;
	  -webkit-transition: all .35s ease-in-out;
	}
	.hamburger.is-closed:hover .hamb-bottom {
	  bottom: 0;
	  -webkit-transition: all .35s ease-in-out;
	}
	.hamburger.is-open{
		position: fixed;
		left: 25%;
		padding-top: 0;
	}
	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-middle,
	.hamburger.is-open .hamb-bottom {
	  background-color: #b24d44;
	}
	.hamburger.is-open .hamb-top,
	.hamburger.is-open .hamb-bottom {
	  top: 50%;
	  margin-top: -2px;  
	}
	.hamburger.is-open .hamb-top { 
	  -webkit-transform: rotate(45deg);
	  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	}
	.hamburger.is-open .hamb-middle { display: none; }
	.hamburger.is-open .hamb-bottom {
	  -webkit-transform: rotate(-45deg);
	  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
	}
	.hamburger.is-open:before {
	  content: '';
	  display: block;
	  width: 100px;
	  font-size: 14px;
	  color: #000;
	  line-height: 32px;
	  text-align: center;
	  opacity: 0;
	  -webkit-transform: translate3d(0,0,0);
	  -webkit-transition: all .35s ease-in-out;
	}
	.hamburger.is-open:hover:before {
	  opacity: 1;
	  display: block;
	  -webkit-transform: translate3d(-100px,0,0);
	  -webkit-transition: all .35s ease-in-out;
	}
	/* END HAMBURGER-CROSS */
	/* START OVERLAY */
	.overlay {
	    position: fixed;
	    display: none;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: rgba(0,0,0,.8);
	    z-index: 3;
	}
	/* END OVERLAY */
	/* START LANGUAGES */
	#qts-lang-menu {
		width: 70px;
		list-style: none;
		float: right;
		margin-top: 33px;
		padding-left: 0;
		text-align: right;
	}

	.qts_lang_item {
		float: left;
		width: 18px;
	}
	/* END LANGUAGES */
/* END MENU */
.mob-destaque{
	margin-bottom: 5%;
}
/* START CAROUSEL */
.bot_chamada {
    float: right;
    background-color: #f7eed7;
    color: #b24d44;
    width: 45%;
    box-shadow: 2px 2px 1px #888888;
    font-family: 'antonio-bold';
}

.bot_chamada a {
    color: #fff;
    float: right;
    margin-right: 7%;
    font-size: 14px;
}
.conteudo-bot-home {
	font-size: 13px;
	margin-bottom: 20px;
}
.conteudo-bot-home p {
	font-size: 13px;
	margin-top: 10px;
	font-family: 'libre-italic';
}
.texto_home{
	width: 50%;
    padding: 20px;
}
.bx-caption-container{
	bottom: 10% !important;
}
.bx-caption-container .more.link{
	display: none;
}
.bx-caption-container a{
	color:#fff;
}

a.bx-pager-link {
    width: 10px !important;
    height: 10px !important;
    background: #b24d44 !important;
    transform: rotate(45deg);
    border: 2px solid #b24d44;
    border-radius: 0px !important;
}
a.bx-pager-link.active {
    width: 10px !important;
    height: 10px !important;
    background: #fff !important;
    transform: rotate(45deg);
    border: 2px solid #b24d44;
    border-radius: 0px !important;
}


.bx-caption-container h4 {
	font-size: 45px;
	color: #cacaca;
	width: 120%;
}
.bx-caption-container p {
	font-size: 15px;
	color: #a9a9a9;
	line-height: 23px;
}

.bx-caption-container .btn {
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    text-shadow: none;
    font-family: 'antonio-bold';
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 0;
    background-size: 12px;
    background-color: #b24d44;
    box-shadow: 2px 2px 1px #888888;
}
.btn-default{
	background-image: none;
}

.bx-caption-container .btn .glyphicon{
    color: #fff;
}


.bx-controls-direction a {
    height: 126px !important;
    display: block;
    width: 56px !important;
}

.bx-wrapper .bx-controls-direction a:hover{
	opacity: 0.8;
}

.bx-wrapper .bx-prev{
	background: url('../images/carrousel_arrow_left.png') !important;
	left: 0 !important;
}

.bx-wrapper .bx-next{
	background: url('../images/carrousel_arrow_right.png') !important;
	right: 0 !important;
}

#scroll-down{
  display: none;
  position: absolute;
  z-index: 2;
  width: 86px;
  left: 50%;
  margin-left: -43px;
  cursor: pointer;
}
/* END CAROUSEl */
#carousel-home{
	padding-top: 60px;
}
.menu-mobile{
	margin-left: 25px !important;
}
.navbar-brand {
    width: 107px;
    height: 76px !important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -53px !important;
    margin-top: -38px !important;
    padding: 0 !important;
}
/* START CONTENT */
.container.content-medium {
  max-width: 654px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.container.content-large {
    max-width: 908px;
    padding-top: 45px;
    background: #e5ddd1;
}

.container.content-large.receitas{
	max-width: 908px;
	
}
.container.content-full {
    width: 100% !important;
    background: url("../images/Textura.png");
    overflow: hidden;
}
.content-medium h1, .content-large h1 {
  font-family: 'antonio-bold';
  margin: 0;
  padding-bottom: 22px;
  font-size: 43px;
  text-transform: uppercase;
}
/* END CONTENT */

/* START BUY */
.buy,
.buy:active,
.buy:hover,
.buy:focus {
    background: #2d1e18;
    border: none;
    color: #dbc99e;
    font-size: 15px;
    font-weight: normal;
    text-shadow: none;
    padding: 4px 7px;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-transform: uppercase;

    max-width: 282px;
    width: 100%;
    margin: auto;
    position: relative;
    display: block !important;
}

.buy .glyphicon {
    color: #dbc99e;
}

.store-link .btn,
.store-link .btn:active,
.store-link .btn:hover,
.store-link .btn:focus {
    background: #2d1e18;
    border: none;
    color: #dbc99e;
    font-size: 15px;
    font-weight: normal;
    text-shadow: none;
    padding: 4px 7px;
    border-radius: 0 !important;
    box-shadow: none !important;
    text-transform: uppercase;
    width: 100% !important; 
    margin-bottom: 5px;
}

.store-link  .btn .glyphicon {
    color: #dbc99e;
}

.buy-online-lightbox-container{
    display: none;
}

.buy-online-lightbox .store-name {
    font-weight: normal;
    font-size: 30px;
}

.buy-online-lightbox .row{
    margin: 0 !important;
}

.store-link {
    text-align: right;
}
/* END BUY */
/* START YOUTUBE */
.embed-youtube{
	display: none;
}
/* END YOUTUBE */
.embed-galeria{
	display: none;
}
.imagem-galeria-modal{
	min-width: 50%;
	max-width: 80%;
	min-height: 50%;
	max-height: 80%;
}
/* CONTENT PRODUCTS */

.entry-content div{
	display:block;
	min-height: 11px;
}

.entry-content p {
    font-size: 15px;
    color: #6F6F6F;
}

.entry-content.products{
	width: 50%;
 	height: auto;
}
.entry-content p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: auto;
  height: auto;
}
.entry-content iframe {
  width: 100%;
  max-height: none;
}
.iframe-flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-top: 45px;
}
.iframe-flexible-container iframe,   
.iframe-flexible-container object,  
.iframe-flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
}

/* END CONTENT PRODUCTS */

/*CONTENT RECIPES*/
.recipe{
	padding-right: 55px;	
}
.recipe p{
	margin-bottom: 22px;
}
.thumb-recipe{
	margin-bottom: 55px;
}
.ingredients {
  background-image: url(../images/ingredientes-thumb.png);
  background-repeat: no-repeat;
  padding-left: 65px;
  margin-bottom: 45px;
	width: auto;
}
.instructions{
	background-image: url(../images/passos-thumb.png);
	background-repeat: no-repeat;
	padding-left: 65px;
	margin-bottom: 45px;
	width: auto;
}
.recipe h3{
	margin-top: 0px;	
}
.recipe ul{
	padding-left: 0px;
  	list-style: none;
}

.btn-see-more {
    background-color: #f7eed7;
    margin: 0 auto;
    border: none;
    font-size: 13px;
    text-shadow: none;
    padding: 5px 10px 5px 10px;
    border-radius: 0 !important;
    box-shadow: 2px 2px 1px #888888;
    width: auto;
    position: relative;
    top: 25px;
    float: right;
    font-family: 'Antonio-Bold';
    color: #b24d44;
}
.btn-see-more i {
    color: #b24d44;
    margin: 0 10px;
}
.btn-see-more:hover, .btn-see-more i:hover{
	color: #f7eed7;
	background-color: #b24d44;
}
.btn-see-more:focus, .btn-see-more i:focus{
	color: #f7eed7;
	background-color: #b24d44;
}
.noticia-full .btn-see-more{
	width: 11%!important;
}
/*END CONTENT RECIPES*/

/* START FOOTER */
.footer {
    min-height: 0%;
    border: none;
}
.footer.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.thumbs-footer{
	margin-top: 40px;
}
.align-icon{
	margin-left: 20px;
} 
.align-content-link {
    margin-top: 2.5%;
    margin-bottom: 5%;
} 
.align-link-right {
  width: 50%;
  padding-left: 40px !important;
}
.align-link-left{
	width: 50%;
	padding-right: 40px !important;
}

.menu-footer-right-container ul {
  list-style: none;
  padding-left: 0px!important;
}
.menu-footer-left-container ul {
  list-style: none;
}
#menu-footer_left .menu-item a, #menu-footer_right .menu-item a {
  color: #fff;
  font-size: 18px;
  font-family: 'Noto Sans';
  font-weight: bold;
}
#menu-footer_left li. #menu-footer_right li{
	margin-bottom: 25px;
}
.menu-footer_left-container ul.menu, .menu-footer_right-container ul.menu{
	list-style-type:none;
}
.menu-footer_left-container ul.menu li,.menu-footer_right-container ul.menu li{
	margin-bottom: 15px;
}

.footer-contact {
	margin-top: 40px;
}

.footer-contact p {
    color: #807F7E !important;
    font-size: 16px;
    margin-left: 36px;
}

.sprite {
	width: 28px;
	height: 28px;
	margin-right: 10px;
	display: inline-block;
}

.sprite-local {
	background: url('../images/sprite-adress.png') scroll 0 0 no-repeat;
}

.sprite-phone {
	background: url('../images/sprite-adress.png') scroll 0 -36px no-repeat;
}

.sprite-mail {
	background: url('../images/sprite-adress.png') scroll 0 -75px no-repeat;
}
.sub-menu {
    padding: 15px 0 0px 15px;
}
#menu-footer-left .sub-menu .menu-item{
	margin-bottom: 5px;
}
#menu-footer-left .sub-menu .menu-item a{
	font-weight: normal;
	font-size: 15px;
}
/* END FOOTER */

/* START GRID */
.conheca-thumb {
    position: absolute;
    border: 1px solid;
    color: #fff!important;
    font-weight: bold;
    text-transform: uppercase;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Noto Sans';
    height: 100%;
    width: 100%;
    font-style: italic;
    padding: 20px 30px;
}
a.conheca-thumb:hover{
	color: #fff;
}
.posts-grid-item.brandy-effect .featured-thumb:hover .link-conheca {
	opacity: 0.8;
	width: 99%;
}

.featured-thumb:hover .conheca-thumb {
	display: block;
}

.posts-grid-item.brandy-effect .link-conheca {
	text-align:center; 
	display: block;
	position: relative;
	width: 260px;
	margin: auto;
    webkit-transition: width 0.5s;
    transition: width 0.5s;
    margin-left: -15px;
}

.posts-grid-item.brandy-effect .featured-thumb a img {
    width: 100%;
    max-width: 282px;
    background-color: #000;
}

.posts-grid-item{
	margin-bottom: 5%;
}

.posts-grid-item .featured-thumb {
	padding: 0px;
}

.posts-grid-item .featured-thumb a img {
	width: 100%; 
	max-width:282px;
}

.posts-grid-item .out-thumb {
	padding: 0px;
}
.out-thumb a .entry-header{
	max-width: 400px;
	margin: auto;
}
.posts-grid-item .btn-see-more{
	width: 24%!important;
}
/* END GRID */

/* START LIST */
.posts-list-item{
	margin-bottom: 5%;
}
.posts-list{
	padding-top: 0px;
}

.posts-list-item .featured-thumb a img {
	width: 100%; 
	max-width:300px;
}

.posts-list .posts-list-item .out-thumb {
  	padding-left: 30px;
}

.posts-list .posts-list-item .out-thumb .entry-header .entry-title {
    margin-top: 0;
    color: #FF6600;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
	font-family: 'Noto Sans', sans-serif;
}
.destaques {
    border-bottom: 5px solid #bf9531;
    border-top: 5px solid #bf9531;
    background: url(../images/bg-destaque.png);
    background-size: 15%;
    background-position: 2.5%;
}
.posts-list .posts-list-item .out-thumb .entry-header .entry-excerpt{
  	color: #6f6f6f;
  	font-size: 15px;
  	text-decoration: none;
}

.posts-list .posts-list-item .out-thumb .entry-header .entry-excerpt:hover{
	text-decoration: blink;
	color: #ccc;
} 
.style-recipe{
	color: #b24d44;
}
.posts-list-item{
	display: none;
}
/* END LIST */
.h1_receitas{
	margin-bottom: 30px;	
}
/*PAGINATION START*/
.cont-pag{
	width: 100%;
}
.header-background{
	background-position: 0px 10%;
}
.custom-pag {
    margin-left: 5px!important;
    margin-right: 5px!important;
    height: 20px;
    width: 20px;
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    background: #b24d44 !important;
    transform: rotate(45deg);
    border: 2px solid #b24d44 !important;
    border-radius: 0px !important;
    font-family: 'antonio-regular';
}
a.custom-pag{
  padding: 8px 11px!important;
}
a.custom-pag:hover{
	background-color: #fff !important;
}
a.custom-pag:hover p{
	color: #4C2472 !important;
}
a.inactive.custom-pag {
    height: 20px;
    width: 20px !important;
    padding: 8px 8px !important;
}
i.fa.fa-envelope, i.fa.fa-phone {
    font-size: 100%;
}
ul#menu-menu-esquerda, ul#menu-menu-direita {
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
}
ul#menu-menu-esquerda .menu-item, ul#menu-menu-direita .menu-item{
	margin-bottom: 5%;
}
ul#menu-menu-esquerda .menu-item a, ul#menu-menu-direita .menu-item a{
	font-family: 'Antonio-Bold';
}
.custom-pag p {
    color: #fff;
    transform: rotate(-45deg);
    margin-top: -7px;
    margin-left: -2px;
    font-family: 'antonio-bold';
    font-size: 120%;
}
.icone_social p {
    font-family: 'antonio-bold';
}
.pagination span {
  padding: 8px!important;
}
.arrows {
  background-color: transparent!important;
  border: 0px!important;
  padding: 0px 7px!important;
  color: #2d1e18!important;
  font-size: 40px;
}

/*PAGINATION END*/

/*START HISTORY*/
.row.history .posts-history-item li span{
	margin-bottom: 5%;
	padding: 0px;
}
.row.history .posts-history-item h4{
	margin-top: 0px;
}
.fix-history{
	padding: 0px;
	-webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.75);
}
.company-align {
    padding-top: 0%;
    padding-bottom: 3%;
}

.company-align header span p{
	font-size: 13px;
}
.company-align header h4.entry-title{
	margin-bottom: 10px;
	margin-top: 40px;
}
.company-align header span {
	color: #000;
	font-size: 13px;
	font-family: 'libre-italic';
}
.posts-history-item{
	padding: 0;
}
/*END HISTORY*/

/*START OVERLAY*/
.overlay-age {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1001;
}
.verify-age {
  height: auto;
  width: 500px;
  position: fixed;
  background: #fff;
  top: 35%;
  z-index: 1002;
  left: 50%;
  margin-left: -250px;
}
.verify-age span {
  position: relative;
  float: left;
  height: 195px;
  width: 100%;
  background-color: #000;
  border-radius: 15px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 66px;
  margin: 15px 0px;
}
 .check-age {
  height: 20px;
  width: 280px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
}
.button-age {
  font-size: 10px;
  margin: 0 !important;
  padding: 0 !important; 
}
.button-age div {
  font-size: 10px;
  margin: 0 !important;
  padding: 0 !important; 
}

.verify-age button {
  border: none;
  color: #fff;
  width: 50%;
  font-size: 13px;
  position: relative;
  margin-left: 12px;
  height: 30px;
}
.verify-age .yes{
	background-color: green;
	border-radius: 2em;
}
.verify-age .no{
	background-color: red;
	border-radius: 2em;
}
#checkbox-age {
  margin-top: 4px !important;
}
.text-acess {
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
}
.text-acess p{
  font-size: 11px;
  font-weight: bold;
}
.text-18 {
	text-align: center;
	margin-left: 0px!important;
	margin-right: 0px!important;
}
.text-18 p{
  font-size: 20px;
  font-weight: bold;
  color: #b24d44;
}
.remember-me {
	/*margin-left: 0px!important;
	margin-right: 0px!important;*/
	text-align: center;
}
.row .remember-me p, .row .remember-me a{
	font-size: 10px;
}
#use-terms {
  overflow: auto;
  z-index: 1003;
  position: fixed;
  top: 15%;
  left: 10%;
  height: 500px;
  width: 80%;
  background: #fff;
  padding: 20px;
  display: none;
}
.btn-back-age {
  background: #2d1e18;
  border: none;
  color: #dbc99e;
  font-size: 12px;
  font-weight: normal;
  text-shadow: none;
  padding: 4px 7px;
  border-radius: 0 !important;
  box-shadow: none !important;
  text-transform: uppercase;
  width: 18% !important;
  position: relative;
  margin-bottom: 5px;
}
/*END OVERLAY*/

/*START VIDEOS*/
.posts-grid-item .thumb-videos a img{
	max-width: none;
}
.title-vid{
	margin: 0px!important;
}
/*END VIDEOS*/
/*START RESPONSABILIDADE*/
.responsibilidade-box {
    margin-top: -120px;
    height: 120px;
    background-color: #F60;
    opacity: 0.8;
    padding: 10px!important;
}
.responsibilidade-box h4, .responsibilidade-box span{
	color: #fff;
}
.interna-responsabilidade p{
	color: #8C8E8F;
}
.interna-responsabilidade a{
	color: #807F8D ;
}
/*END RESPONSABILIDADE*/

/*START NOTICIA*/
.noticia-full{
	padding: 0px!important;
}
/*END NOTICIA*/

/* START CONTACT */
.form-group input {
    color: #fff;
    background: transparent;
    border: none;
    box-shadow: none;
    padding-left: 0px;
    margin-top: 1px;
    padding-bottom: 3px!important;
	font-family: 'antonio-regular';
}
.form-input {
    background-color: #b24d44;
    border-radius: 20px;
    min-height: 40px;
}
.form-group label {
    margin-top: 12px;
    font-size: 15px;
	margin-left: 20px;
	font-family: 'antonio-regular';
}
span.wpcf7-list-item-label {
    color: #b24d44;
    font-family: 'antonio-regular';
}
.radio+.radio{
	margin-top: 10px;
}

.form-text {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 10px;
}
.text-contact{
	padding-bottom: 15px;
	width: 75%;
}
.text-contact textarea.form-text{
	background-color: #fff;
}
.input-md{
	max-width: 75%;
}
.input-pq {
  	max-width: 290px;
}
.input-gg{
	max-width: 60%;
  	margin-left: 0!important;
	margin-right: 0!important;
	min-height: 40px;
}
.content-city-uf {
  padding: 0px;
  min-height: 40px;
}
.adress-form {
    padding-bottom: 25px;
    padding-left: 5px;
}
.adress-form ul{
  list-style: none ;
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
}
.adress-form li {
	font-weight: bold;
	padding-bottom: 5px;
}
.form-check{
	display: inline-block;
	margin-left: 0!important;
	margin-right: 0!important;
	min-height: 40px;
}
.form-submit {
    background-color: #b24d44!important;
    padding: 5px 25px!important;
    color: #EEEEEE;
    border-radius: 50px;
    margin-top: 25%;
        font-family: 'antonio-bold';
}

.form-submit:hover {
    background-color: #EEEEEE !important;
    padding: 5px 25px!important;
    color: #b24d44;
    border-radius: 50px;
    margin-top: 25%;
}
.form-selecao .radio {
    position: relative;
    display: block;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: -20%;
}
.form-group.row.form-check{
  margin-bottom: 20px;
}
.screen-reader-response{
	display: none;
}
.wpcf7-not-valid-tip {
  display: block;
  font-size: 10px;
  padding-bottom: 3px;
}
.radio-max{
	max-width: 100px;
}
.inter-fix{
	padding-top: 12px;
	color: #FD6100!important;
}
.wpcf7-response-output{
	padding: 0px 0px 20px 0px;
}
.screen-reader-response ul{
	display: none!important;
}
.screen-reader-response{
  	display: none!important;
}
.wpcf7-form.form-horizontal .someClassIMakeUp{
	display: none;
}
.wpcf7-form.invalid.form-horizontal .someClassIMakeUp{
	display: block!important;
}
.wpcf7-form.failed.form-horizontal .someClassIMakeUp{
	display: block!important;
}
.wpcf7-form.sent.form-horizontal .someClassIMakeUp{
	display: block!important;
}
.wpcf7-spam-blocked {
	background: #e2e2e2;
	border: 1px solid #f00 !important;
	color: #f00;
}
 
.wpcf7-mail-sent-ng {
	background: #fcf8e3;
	border: 1px solid #f00 !important;
	color: #f00;
}
 
.wpcf7-mail-sent-ok {
	background: #dff0d8;
	border: 1px solid #3c763d !important;
	color: #3c763d;
}

div.wpcf7-validation-errors {
    background: #ffe2e2;
    border: 1px solid #ff0000;
    color: #C10000;
}
 
div.wpcf7-response-output {
    margin: 2em 0;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;	
}
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 45px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
/* END CONTACT */

.logos-produtos-home, .content-marcas {
    background: url('../images/textura.png');
    background-color: transparent;
    height: auto;
    -webkit-box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    padding-top: 50px;
    border-bottom: 2px solid #eee;
}

.content-marcas img {
    margin: 0px auto;
    display: block;
    min-width: 90px;
}
.content-marcas a{
	cursor: pointer;
}
.filter-gray{
	-webkit-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
}
/*.content-marcas {
    background-color: #fff;
    height: auto;
    -webkit-box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    box-shadow: 0px -5px 74px 7px rgba(0,0,0,0.39);
    border-bottom: 2px solid #eee;
}*/
.slick-prev{
	left: 4%!important;
	background: url(../images/arrow-left-marcas.png)!important;
}
.slick-next{
	right: 4%!important;
	background: url(../images/arrow-right-marcas.png)!important;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 14px!important;
    height: 30px!important;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    z-index: 999;
    background: transparent;
}
.santo-grau{
	display: block;
}
/*START FUNCIONARIO*/
.content-login {
    background-color: #f3f3f3;
    padding: 5% 15px 3%;
    border: 2px solid #c6c6c6;
}
.content-login h4 {
    margin-top: 0;
}
.content-login .form-group {
    background-color: #bebebe;
    height: 35px;
}
.content-login .form-group input {
    height: 35px;
    width: 100%;
    margin: 0;
    padding: 5px;
}
.content-login button {
    background-color: #FF6600;
    border: none;
    color: #fff;
    padding: 5px 15px;
}
.content-login button:hover{
	opacity: 0.8;
}

/*END FUNCIONARIO*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.container {
	  width: 970px !important;
	}

	.hamburger.is-open{
		position: fixed;
	}
    
    /* START BUY */
    .buy,
    .buy:active,
    .buy:hover,
    .buy:focus{
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block !important;
        width: auto;
    }
    /* END BUY */
    .company-align header span p{
		font-size: 16px;
	} 
}

@media (min-width: 1100px){
    #scroll-down{
      display: block !important;
    }
}
@media (min-width: 1100px) {
    #scroll-down{
      bottom: 0%;
    }
}

@media (min-width: 12000px) {
    #scroll-down{
      bottom: 4%;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/* START MENU */
	.hamburger.is-open {
		left: 20%;
	}
	

	#wrapper.toggled #sidebar-wrapper {
	    width: 20%;
	}
	/* END MENU */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	/* START MENU */
	.hamburger.is-open {
		left: 30%;
	}
	

	#wrapper.toggled #sidebar-wrapper {
	    width: 30%;
	}
	/* END MENU */

	/* START GRID */
	.posts-grid-item .out-thumb {
		padding: 5%;
	}
	/* END GRID */
	/*START COMPANY*/
		.company-align{
			margin:10px 0 10px 0;
		}
	/*END COMPANY*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.bx-wrapper .bx-prev {
    background: url('../images/carrousel_arrow_left.png') !important;
    left: 0 !important;
    background-size: 60% !important;
    width: 10% !important;
    background-repeat: no-repeat !important;
    background-position-x: left !important;
}


.bx-wrapper .bx-next {
    background: url('../images/carrousel_arrow_right.png') !important;
    right: 0 !important;
    background-size: 60% !important;
    width: 10% !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
}

.bx-controls-direction a {
    height: 40% !important;
    display: block;
    width: 10% !important;
}
	/*START COMPANY*/
		.company-align{
			margin:10px 0 10px 0;
		}
	/*END COMPANY*/
	.mob-destaque{
		padding: 0;
	}
	.posts-grid-item.brandy-effect .link-conheca{
		width:100%;
		padding: 0;
	}
	/* START MENU */
	.navbar .container{
		display: block;
	}
		.navbar .container {
		padding: 0 20px;
		position: relative;
	}

	.hamburger.is-open {
		left: 40%;
	}

	#wrapper.toggled #sidebar-wrapper {
	    width: 40%;
	}
	/* END MENU */

	/* START LIST */
	.posts-list .posts-list-item .out-thumb {
  		padding-left: 0px;
		margin-top: 5%;
	}
	.posts-list-item .featured-thumb {
  		padding: 0;
 		max-height: 300px;
  		max-width: 300px;
  		margin: 0 auto;
  		float: none;
	}
	.posts-list-item .featured-thumb img{
		max-width: 300px;
		max-height: 300px;
	}
	.recipe{
		padding-right: 0px;
		padding-bottom: 55px;
	}
	.btn-see-more{
		top: 0;
		width: 30% !important;
	}
	.content_receitas .btn-see-more {
    padding: 5px 10px 5px 10px !important;
}
.content_receitas h4 {
    margin-top: 5%;
}
.form-selecao {
    width: 100%;
    text-align: center;
    margin-left: 15px !important;
}
	/* END LIST */
input.wpcf7-form-control.wpcf7-submit.form-submit {
    margin-top: 1% !important;
    text-align: center;
    width: 100%;
    margin-bottom: 10%;
}
	/* START CONTACT */
	.form.input{
		margin-bottom: 5px;
		min-height: 20px;
	}
	.form.check{
		margin-bottom: 5px;
		min-height: 20px;
	}
	.form-submit {
	    background-color: #b24d44 !important;
	    padding: 5px 22px!important;
	    color: #EEEEEE;
	}
	.uf-fixing{
  		margin-top: 15px;
	}
	.fix-check{
		margin-bottom: 15px!important;
	}

	.adress-form{
		padding-left: 0px!important;
	}
	.uf-fixing{
		left: 0px;
	}
	/*END CONTACT*/

	/* START HISTORY */
	.fix-history{
		margin-bottom: 10px;
	}
	/* END HISTORY */

	/* START CONTENT */
	.entry-content p{
		padding: 0px 10px;
	}
	.content-medium h1, .content-large h1{
		padding-left: 10px;
	}
	/* END CONTENT */
}	

/* Landscape phones and smaller */
@media (max-width: 480px) {
	/*START COMPANY*/
.text-contact{
	width: 100%;
}
.content_receitas span.entry-excerpt {
    height: 50px !important;
}
	.input-md{
		max-width: 100%;
	}
		.company-align{
			margin:10px 0 10px 0;
		}
	/*END COMPANY*/
	/* START MENU */
	.navbar .container {
		padding: 0 0px;
		position: relative;
	}
	.mobile-destaque{
	margin-bottom: 5%;
}
.conteudo-bot-home{
	    width: 275px;
}
.img_comprar{
	width: 100% !important;
}
.h1_receitas{
	margin-bottom: -50px !important;
}

	.hamburger.is-open {
		left: 75%;
	}

	#wrapper.toggled #sidebar-wrapper {
	    width: 75%;
	}
	/* END MENU */

	/* START AGE */
	.verify-age {
		height: auto;
		width: 90%;
		margin-left: -45%;
	}
	.text-acess{
		padding-right: 0px;
	}
	.text-18{
		padding-right: 0px;
	}
	.text-18 p{
		font-size: 20px;
	}
	.button-age {
		padding-left: 15px!important;
	}
	.remember-me {
  		padding-left: 25%;
	}
	.verify-age span {
		height: 240px;
		padding-top: 85px;
		margin: 5px 0px 5px 5px;
	 	width: 90%;
	}
	.fix-span{
		padding: 0px;
	}
	.btn-back-age{
		width: 25%!important;
		padding-left: 10px;
	}
	/* END AGE */
	/*START FOOTER*/
	#menu-footer-left, #menu-footer-right{
		padding: 0;
	}
	#menu-footer-right .menu-item a, #menu-footer-left .menu-item a{
		font-size: 12px;
	}
	#menu-footer-left .sub-menu .menu-item a {
		font-size: 11px;
	}
	/*END FOOTER*/
}

.icone_social{
	margin: 0 auto;
	padding-top: 40px;
}
.icone_social i{
	color: #000;
	font-size: 15px;
	margin: 0 auto;
	font-size: 30px;
	margin: 5px;
}
#page-imagem{
	width: 100vw;
	height: auto;
}
.imagem-page img {
    max-width: 100%;
    width: 100%;
    display: block;
}
.page-texto{
	margin: 0 auto;
}
.titulo_receitas{
	font-size: 25px !important;
}

.titulo_contato {
	font-size: 250%;
    margin-left: 19%;
    margin-top: 10%;
}
.titulo_contato p {
    color: #b24d44;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'antonio-bold';
    font-size: 120%;
}
.texto_contato label{
	color: #fff;
}
.titulo_comprar{
	font-size: 40px;
    margin-bottom: 20px
}
.imagem_fotos{
	width: 100%;
    height: 300px;
    float: left;
    margin-bottom: 40px;
}
.img_comprar{
	width: 20%;
}
.img_comprar img{
	width: 100%;
}
.imagem_video{
	width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 40px;
}
.imagem_foto h2, .imagem_video h2{
	font-size: 25px;
	margin-top: 0px;
}
.background{
	background-image: url();
}
.texto_foto{
    font-size: 50px;
    margin-left: 15px;
    color: #fff;
}
.texto_receitas h4 {
    margin: -40px 0px 40px 70px;
    font-size: 30px;
}
.texto_receitas img {
	height: 50px;
	width: 50px;
}
.texto_receitas {
	padding-left: 5px;
}
.img_age img {
    width: 170%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -30%;
}
.remember-me .checkbox {
    text-align: left;
    margin-left: 15%;
}
.content_receitas span.entry-excerpt {
    width: 100%;
    height: 36px;
    float: left;
    margin-left: 0px;
    margin-bottom: 0px;
}
.content_receitas .btn-see-more {
    padding: 5px 10px 5px 10px;
}

.produto_liquid p{
	font-size: 14px;
}
.destaque_home h2{
	margin-left: 4%;
    font-size: 36px;
    margin-bottom: 4%;
    margin-top: -1%;
}
.bx-caption-container h4{
    width: 50% !important;
}
.bx-caption-container p {
    width: 50% !important;
    font-family: 'antonio-regular';
}
.texto_home {
    width: 100%;
    padding: 20px;
}
#intro { 
        background: url("") 50% 0 fixed; 
        height: auto;  
        margin: 0 auto; 
        width: 100%; 
        position: relative; 
        background-repeat: no-repeat; 
    }
    /* Large desktops and laptops */
    @media (min-width: 1200px) {
        #intro {
            padding: 17% 0;
            background-size: 100%;
        }
    }

    /* Portrait tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
        #intro {
            padding: 18% 0;
            background-size: 100%;
        }
    }

    /* Portrait tablets and small desktops */
    @media (min-width: 768px) and (max-width: 991px) {
        #intro {
            padding: 17% 0;
            background-size: 100%;
        }
    }

    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
#intro {
    padding: 20% 0;
    background-size: 200%;
    height: 40%;
    background-position: 50% 10% !important;
}
    }   



